body {
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #fff;
font-style: normal;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.logo {
color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-part {
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.nav-item {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.nav-item:hover, .nav-item:focus {
    color: var(--OCEAN, #404BBF);
}

.address-link {
    font-style: normal;
}

.address-item {
    color: var(--SLATE, #434455);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
}

.address-item:hover, .address-item:focus {
    color: var(--OCEAN, #404BBF);
}

.first-section {
    background-color: var(--NAVY-BLUE, #2E2F42);
}

.main-title {
    color: var(--WHITE, #FFF);
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
}

.main-button {
        background-color: var(--IRIS, #4D5AE5);
        color: var(--WHITE, #FFF);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        cursor: pointer;
}

.main-button:hover, .main-button:focus {
    background-color: var(--OCEAN, #404BBF);
}

.preferences-item {
    color: var(--SLATE, #434455);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.preferences-item-title {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.preferences-item-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}

.third-section {
    background: var(--CLOUD, #F4F4FD);        
}

.third-section-title {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        text-align: center;
}

.portfolio-list-item {
    background-color: #FFFFFF;
}

.portfolio-item-title {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
}

.portfolio-item {
    color: var(--SLATE, #434455);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
}

.third-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.footer {
    background-color: var(--NAVY-BLUE, #2E2F42);
}

.footer-logo {
    color: var(--IRIS, #4D5AE5);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.footer-logo-part {
color: var(--CLOUD, #F4F4FD);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-text {
color: var(--CLOUD, #F4F4FD);
    line-height: 24px;
    letter-spacing: 0.02em;
}